.layouts-panel {
  display: inline-block;
  width:100px;
}

.layouts-panel button{
  padding: 0px;
  border: 0px;
  display: block;
  width: inherit;
}
.layouts-panel img{
  display: block;
  width: inherit;
}
