<button type="button" class="single-slide" {{action 'selectSlide'}}>
  <span>{{slide.id}}</span>
  <button type='button' {{action 'removeSlide'}}>X</button>
  <img class="image-slide" src="./assets/slide/slide.png" alt="fail-to-load-image"/>
</button>

{{yield}}
