<button class="button-remove" {{action 'removeSlide'}}>X</button>
<button class="single-slide" {{action 'selectSlide' slide.id}}>
  <span>{{slide.id}}</span>
  <img class="image-slide" src="./assets/slide/slide.png" alt="fail-to-load-image"/>
</button>

{{yield}}
